<p>
  <b>Name:</b>
  <%=h @profile.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @profile.description %>
</p>

<p>
  <b>Contact:</b>
  <%=h @profile.contact %>
</p>

<p>
  <b>Email:</b>
  <%=h @profile.email %>
</p>

<p>
  <b>Industry:</b>
  <%=h @profile.industry %>
</p>

<p>
  <b>Services:</b>
  <%=h @profile.services %>
</p>

<p>
  <b>Street:</b>
  <%=h @profile.street %>
</p>

<p>
  <b>Street 2:</b>
  <%=h @profile.street_2 %>
</p>

<p>
  <b>City:</b>
  <%=h @profile.city %>
</p>

<p>
  <b>State:</b>
  <%=h @profile.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%=h @profile.zipcode %>
</p>

<p>
  <b>County:</b>
  <%=h @profile.county %>
</p>

<p>
  <b>Phone:</b>
  <%=h @profile.phone %>
</p>

<p>
  <b>Website:</b>
  <%=h @profile.website %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>